/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
      COLORS
*/
/*
      FONT SIZE
*/
* {
  font-family: "League Spartan", sans-serif;
}

main {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5rem 1rem;
}

.container {
  min-width: 327px;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero__text {
  min-width: 327px;
  max-width: 445px;
  margin-bottom: 2rem;
}

.hero__text__header {
  font-size: 45px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 1rem;
  color: #502050;
  letter-spacing: -1.14px;
}

.hero__text__paragraph {
  font-size: 15px;
  color: #937b92;
  line-height: 25px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.hero__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.hero__reviews .review {
  background-color: #f7f2f7;
  height: 78px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  width: 100%;
  min-width: 327px;
  max-width: 445px;
}

.hero__reviews .review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.hero__reviews .review__text {
  color: #502050;
  font-weight: 700;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 13px;
  line-height: 22px;
}

.feedback__card {
  background-color: #502050;
  padding: 2rem;
  border-radius: 8px;
  height: 248px;
  min-width: 327px;
  max-width: 350px;
}

.feedback__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  margin-bottom: 1rem;
}

.feedback__card__info .imgContainer {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.feedback__card__info .personalInfo__name {
  color: white;
  font-weight: 700;
}

.feedback__card__info .personalInfo__buyer {
  color: #ee68a4;
  font-weight: 400;
}

.feedback__card__text {
  color: #937b92;
  font-size: 1rem;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */