/*
      COLORS
*/

//primary
$magenta-dark: hsl(300, 43%, 22%);
$pink-soft: hsl(333, 80%, 67%);

//neutral
$grayish-dark: hsl(303, 10%, 53%);
$grayish-light: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

/*
      FONT SIZE
*/

$header-mobile: 45px;
$paragraph: 15px;
$feedback-font-size: 13px;
