* {
	font-family: $font-primary;
}

main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 5rem 0;

	@media (min-width: 1110px) {
		align-items: center;
	}
}

.container {
	min-width: 327px;
	max-width: 1110px;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
