* {
	font-family: $font-primary;
}

main {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 5rem 1rem;
}

.container {
	min-width: 327px;
	max-width: 1110px;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
